.menu {
  padding: 20px;
  height: 100%;
}

.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}

.logo {
  width: 124px;
  height: 20px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: -0.02em;
  color: #54be96;
}

.logoDot {
  font-weight: 500;
}

.logoServices {
  font-weight: 600;
  color: #191a15;
}

.closeIcon {
  stroke: currentColor;
}

.closeMenuBurger {
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
}

.closeMenuBurger:active,
.closeMenuBurger:focus {
  color: var(--accent-color-hover);
}

.themeSwitcher {
  display: flex;
  gap: 8px;
  align-items: center;
}

.themeBtn {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 2px solid transparent;
  cursor: pointer;
  transition:
    transform 0.2s,
    border-color 0.2s;
  padding: 0;
}

.themeBtn:hover {
  transform: scale(1.2);
}

.themeBtn.active {
  border-color: var(--main-gray);
}

.green {
  background-color: #54be96;
}
.blue {
  background-color: #3470ff;
}
.orange {
  background-color: #fc832c;
}

@media screen and (min-width: 768px) {
  .themeSwitcher {
    display: none;
  }

  .top {
    margin-bottom: 80px;
  }
}
