.container {
  width: 100%;
}

.formTitle {
  font-weight: 500;
  font-size: 30px;
  line-height: 1.2;
  letter-spacing: -0.02em;
  color: var(--main-black);
  margin-bottom: 16px;
}

.text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.25;
  color: rgba(25, 26, 21, 0.5);
  margin-bottom: 24px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.formGroup {
  position: relative;
  width: 100%;
}

.input {
  border: 1px solid rgba(25, 26, 21, 0.1);
  border-radius: 12px;
  padding: 16px 36px 16px 18px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.25;
  color: var(--main-black);
  width: 100%;
}

.input:focus {
  border-color: var(--accent-color);
}

.inputError {
  border-color: var(--error-text);
}

.errorText {
  color: var(--error-text);
  font-size: 12px;
  line-height: 1.25;
  margin-top: 4px;
  margin-left: 18px;
}

.eyeButton {
  background-color: transparent;
  position: absolute;
  padding: 0;
  top: 16px;
  right: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.eyeIcon {
  stroke: currentColor;
  fill: none;
}

.submitButton {
  border-radius: 30px;
  padding: 16px;
  width: 100%;
  background-color: var(--accent-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: -0.01em;
  color: var(--white);
  margin-top: 12px;
}

.submitButton:hover,
.submitButton:focus,
.submitButton:active {
  background-color: var(--accent-color-hover);
}

.firebaseError {
  color: var(--error-text);
  text-align: center;
  font-size: 12px;
}

@media screen and (min-width: 1440px) {
  .formTitle {
    font-size: 40px;
    margin-bottom: 20px;
  }

  .text {
    font-size: 16px;
    margin-bottom: 40px;
  }

  .input {
    font-size: 16px;
  }

  .errorText {
    font-size: 14px;
  }

  .submitButton {
    margin-top: 22px;
  }

  .firebaseError {
    font-size: 14px;
  }
}
